<form [formGroup]='myForm' (ngSubmit)="onSubmit()">
    <mat-card class="card">
        <card-header [information]="cardHeaderInformation" />
        <mat-card-content>
            <mat-selection-list formControlName="selected" [multiple]="false" (selectionChange)="select()">
                <div *ngFor='let option of synonymOptions; let i = index' [ngClass]="{'correct' : (!!todayAnswer && option.word===todayWord)}">
                    <mat-list-option checkboxPosition="before" [selected]="answeredOption(i)" [value]="i+1"
                        [disabled]="!!todayAnswer">
                        <div class="row centered">
                            <div>
                                {{option.synonym}}
                            </div>
                            <span class="spacer"></span>
                            <!-- <del *ngIf="removed(word); else synonym">
                            {{word.synonym.translation}}
                        </del>
                        <ng-template #synonym> 
                            {{word.synonym.translation}}
                        </ng-template> -->
                        </div>
                    </mat-list-option>
                    <mat-divider></mat-divider>
                </div>

            </mat-selection-list>
        </mat-card-content>
        <card-footer [gameAnswer]="todayAnswer" [disabled]="disableCheck()" />
    </mat-card>
</form>