<form [formGroup]='myForm'>
    <div class="row row-responsive">
        <div class="col w-50">
            <div class="column">
                <div class="row" *ngFor="let option of phonetics; let i = index">
                    <mat-form-field style="width:5em"><!--ToDo: css-->
                        <mat-label>Syl</mat-label>
                        <input type="number" matInput min="0" max="99" [formControlName]="'simPhSyllables'+i">
                    </mat-form-field>
                    <mat-form-field class="spacer">
                        <mat-label>Word</mat-label>
                        <input type="text" matInput [formControlName]="'simPhWord'+i">
                        <button mat-icon-button matSuffix aria-label="search" (click)="play($event, option.phonetic.audio)" (keydown.enter)="play($event, option.phonetic.audio)">
                            <mat-icon>volume_up</mat-icon>
                        </button>
                    </mat-form-field>
                    <input type="hidden" [formControlName]="'simPhAudio'+i">
                    <!-- <phonetic-audio [audio]="option.phonetic.audio"></phonetic-audio> -->
                </div>
            </div>
        </div>
        <div class="col w-50">
            <mat-form-field>
                <mat-label>Synonym</mat-label>
                <input type="text" matInput formControlName="simSyWord0">
            </mat-form-field>
            <mat-form-field *ngFor="let option of game?.similarSynonyms; let i = index">
                <mat-label>Similar</mat-label>
                <input type="text" matInput [formControlName]="'simSyWord'+(1+i)">
            </mat-form-field>
        </div>
    </div>
    <div>
        <div class="column" *ngFor="let option of definitions; let i = index">
            <div class="row row-full">
                <mat-form-field>
                    <mat-label>Word</mat-label>
                    <input type="text" matInput [formControlName]="'simDfWord'+i">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <input type="text" matInput [formControlName]="'simDfType'+i">
                </mat-form-field>
            </div>
            <mat-form-field class="w-100">
                <mat-label></mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5" [formControlName]="'simDfText'+i"></textarea>
            </mat-form-field>
        </div>
    </div>
</form>