<form [formGroup]='myForm' (ngSubmit)="onSubmit()">
    <mat-card class="card">
        <card-header [information]="cardHeaderInformation" />
        <mat-card-content>
            <mat-selection-list formControlName="selected" [multiple]="false">
                <div *ngFor="let phonetic of phoneticOptions; let i = index" [ngClass]="{'correct' : (!!todayAnswer && phonetic.word===todayWord)}">
                    <mat-list-option checkboxPosition="before" (selectedChange)="select(i)" [value]="i+1"
                        [selected]="answeredOption(i)" [disabled]="!!todayAnswer">
                        <phonetic-option [phoneticOption]="phoneticOptions[i]" [answeredGame]="!!todayAnswer" />
                    </mat-list-option>
                    <mat-divider></mat-divider>
                </div>
            </mat-selection-list>
        </mat-card-content>
        <card-footer [gameAnswer]="todayAnswer" [disabled]="disableCheck()" />
    </mat-card>
</form>