<nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let item of menuItems" routerLinkActive #rla="routerLinkActive" mat-tab-link
        [active]="rla.isActive" [routerLinkActiveOptions]="{exact: true}" [routerLink]="item.route">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.title}}</span>
    </a>
    <a *ngIf="isAdmi" routerLinkActive #rla="routerLinkActive" mat-tab-link [active]="rla.isActive"
        [routerLinkActiveOptions]="{exact: true}" [routerLink]="'/word/admin'">
        <mat-icon>supervisor_account</mat-icon>
        <span>{{'Admin'}}</span>
    </a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
    <a mat-menu-item-link *ngFor="let item of menuItems" routerLinkActive #rla="routerLinkActive" mat-tab-link
        [active]="rla.isActive" [routerLinkActiveOptions]="{exact: true}" [routerLink]="item.route">
        {{item.title}}
    </a>
    <a *ngIf="isAdmi" routerLinkActive #rla="routerLinkActive" mat-menu-item-link
        [routerLinkActiveOptions]="{exact: true}" [routerLink]="'/word/admin'">
        {{'Admin'}}
    </a>
  
</mat-menu> -->